

.box{
    background-image: url('../../images/bannerbackground.png');
    
    background-color: #FCF4E0;
    padding: 100px 300px;
    padding-bottom: 200px;
    margin-right: px;
    
    background-size: cover;
    
    
    
}
